<form class="form-inline">
    <div class="input-group">
      <input type="text"  name="name" [(ngModel)]="name"  placeholder="Choose name...!!">
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger" (click)="Search()">Search</button>
      </div>
    </div>
  </form>



  <div id="emp" class="container-fluid text-center bg-grey" *ngIf="nameinfo.length > 0 ">
    
      <div class="row text-center" >
        <div class="col-sm-4" *ngFor="let emp of nameinfo">
    
            <p><strong> Name : {{emp.name}}</strong></p>
            <p>Position : {{emp.position}}</p>
            <p>office-Location : {{emp.office}}</p>
        
        </div>

      
    </div>